<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <!--Header-->
    <div class="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="logo"><a>Стандарт Стиль</a></div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="box-contact">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="contact-data center-block" style="width: 200px;">
                                            <i class="velcom-logo-image"></i>
                                            <span class="contact-info">29 111-11-11</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="contact-data center-block" style="width: 200px;">
                                            <i class="mts-logo-image"></i>
                                            <span class="contact-info">29 111-11-11</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="box-contact">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="contact-data center-block" style="width: 310px;">
                                            <i class="mail-logo-image"></i>
                                            <span class="contact-info"><a href="mailto:arty.drozdovskiy@gmail.com">arty.drozdovskiy@gmail.com</a></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="contact-data center-block" style="width: 310px;">
                                            <i class="skype-logo-image"></i>
                                            <span class="contact-info"><a href="skype:drozdino?chat">drozdino</a></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End of Header-->
    <!--Main menu-->
    <div class="menu">
        <div class="container-fluid">
            <div class="row">
            </div>
        </div>
    </div>
    <!--End of Main menu-->
    <!--Content-->
    <div class="content">
        @RenderBody()
    </div>
    <!--End of Content-->
    <!--Footer-->
    <div class="footer">

    </div>
    <!--End of Footer-->

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
