<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <!--Header-->
    <div class="header">
        <div class="content">
            <div class="logo"><a>Стандарт Стиль</a></div>
            <div class="box-contact">
                <div class="contact-row">
                    <i class="velcom-logo-image"></i>
                    <div class="contact-data">
                        <span>29 111-11-11</span>
                    </div>
                </div>
                <div class="contact-row">
                    <i class="mts-logo-image"></i>
                    <div class="contact-data">
                        <span>29 111-11-11</span>
                    </div>
                </div>
            </div>
            <div class="box-contact">
                <div class="contact-row">
                    <i class="mail-logo-image"></i>
                    <div class="contact-data">
                        <span><a href="mailto:arty.drozdovskiy@gmail.com">arty.drozdovskiy@gmail.com</a></span>
                    </div>
                </div>
                <div class="contact-row">
                    <i class="skype-logo-image"></i>
                    <div class="contact-data">
                        <span><a href="skype:drozdino?chat">drozdino</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End of Header-->
    <!--Main menu-->
    <div class="menu">
    </div>
    <!--End of Main menu-->
    <!--Content-->
    <div class="content">
        @RenderBody()
    </div>
    <!--End of Content-->
    <!--Footer-->
    <div class="footer">

    </div>
    <!--End of Footer-->

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
