@model IEnumerable<Standartstyle.Models.GoodModel>
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <div class="album">
        <div class="container">
            <div class="col-12">
                <h1 class="page-header">Каталог товаров</h1>
            </div>

            <div class="row">
                @foreach (var good in Model)
            {
                    <div class="col-md-4 col-sm-12 col-xs-12">
                        <div class="card mb-4 box-shadow">
                            <div>
                                <div class="thumbnail bg-light my-0 px-2 py-2">
                                    <img src="@Url.Content(good.Images[0].Path+good.Images[0].GetFullFilenameForStoredFile())"
                                         name="@good.Images[0].Name"
                                         alt="@good.Images[0].Name"
                                         class="rounded img-fluid vertical-middle">
                                </div>
                            </div>
                            <div class="card-body">
                                <p class="card-text">Название: @good.Name<br>Категория: @good.SelectedCategory.Name</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a class="btn btn-sm btn-outline-secondary" href="@Url.Action("Form", "Goods", new { id = good.GoodCode })"><span class="oi oi-pencil"></span></a>
                                        <a class="btn btn-sm btn-outline-secondary" href="@Url.Action("Form", "Goods", new { id = good.GoodCode })"><span class="oi oi-sun"></span></a>
                                        <a class="btn btn-sm btn-outline-secondary btn-danger" href="@Url.Action("Form", "Goods", new { id = good.GoodCode })"><span class="oi oi-trash"></span></a>
                                    </div>
                                    <small class="text-muted"><span class="oi oi-eye"></span>&nbsp;7</small>
                                </div>
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</main>