@model IEnumerable<Standartstyle.Models.GoodModel>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Каталог товаров</h1>
        </div>

        @foreach (var good in Model)
        {
            <div class="col-md-4">
                <div class="img-wrapper">
                    <div class="thumbnail">
                        <img src="@Url.Content(good.Images[0].Path+good.Images[0].GetFullFilenameForStoredFile())"
                             name="@good.Images[0].Name"
                             alt="@good.Images[0].Name"
                             class="img-responsive vertical-middle">
                    </div>
                    <div class="container-fluid">
                        <div class="good-name">
                            <span class="pull-left">Название: @good.Name</span>
                            <span class="pull-right">Категория: @good.SelectedCategory.Name</span>
                        </div>
                    </div>
                    <div class="container-fluid">
                        <div class="row buttons">
                            <div class="pull-left">
                                @Html.ActionLink("Редактировать", "Form", "Goods", new { id = good.GoodCode }, new { @class = "btn btn-sm btn-success" })
                            </div>
                            <div class="pull-right">
                                <a class="btn btn-sm btn-default">Скрыть</a>
                                <a class="btn btn-sm btn-danger">Удалить</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>