@model Standartstyle.Models.GoodModel
@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@Styles.Render("~/Content/fileuploader")
<div class="container-fluid">
    <div class="row clearfix"></div>
    <div class="form-group col-md-12">
        @using (Ajax.BeginForm("SaveGood", "Goods", new AjaxOptions
        {
            UpdateTargetId = "steps",
            HttpMethod = "Post",
            InsertionMode = InsertionMode.Replace,
            OnSuccess = "successCallback",
            OnFailure = "failureCallback",
            OnBegin = "hideHeader"
        }, new { id = "ContractForm" }))
        {

            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <div class="vert-offset-top-1"></div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-10 col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <label>Основные данные</label>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="form-group col-md-12">
                                    @Html.LabelFor(m => m.Name, new { @class = "col-form-label" })
                                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-4">
                                    @Html.LabelFor(m => m.Width, new { @class = "col-form-label" })
                                    @Html.TextBoxFor(m => m.Width, new { @class = "form-control" })
                                </div>
                                <div class="form-group col-md-4">
                                    @Html.LabelFor(m => m.Height, new { @class = "col-form-label" })
                                    @Html.TextBoxFor(m => m.Height, new { @class = "form-control" })
                                </div>
                                <div class="form-group col-md-4">
                                    @Html.LabelFor(m => m.Depth, new { @class = "col-form-label" })
                                    @Html.TextBoxFor(m => m.Depth, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-12">
                                    @Html.LabelFor(m => m.Description, new { @class = "col-form-label" })
                                    @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-10 col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <label>Изображения</label>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <div class="col-lg-offset-5 col-md-offset-5">
                                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#file-upload-modal">
                                            Загрузить фото
                                        </button>
                                    </div>


                                    <div class="modal fade" id="file-upload-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-lg" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="file-loading">
                                                        <input id="fileform" class="file" type="file" multiple>
                                                    </div>
                                                    <div id="kartik-file-errors"></div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-10 col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <label>Изготовлено из ДСП</label>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-10 col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <label>Атрибуты</label>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <button type="submit" class="btn btn-success disabled" disabled="disabled">
                        <div class="btnBack">Сохранить</div>
                    </button>
                    <button class="btn btn-default">
                        <div class="btnBack">Отмена</div>
                    </button>
                </div>
            </div>

        }
    </div>
</div>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/fileupload")
<script>
    $('#fileform').fileinput({
        uploadAsync: false,
        language: 'ru',
        showCaption: false,
        dropZoneEnabled: false,
        fileActionSettings: false,
        uploadUrl: '@Url.Action("UploadFiles", "Image")',
        allowedFileExtensions: ['jpg', 'png', 'jpeg']
    });

    $('#fileform').on('filebatchuploadsuccess', function (event, data, previewId, index) {
        var form = data.form, files = data.files, extra = data.extra,
            response = data.response, reader = data.reader;
        console.log('File batch upload success');
    });

</script>
