@model IEnumerable<Standartstyle.Models.ImageModel>

@foreach (var item in Model)
{
    <div class="col-md-4" id="image-@item.Name">
        <div class="img-wrapper" id="@item.Name">
            <div class="thumbnail @if (item.MainImageFlag) {<text> main</text>}">
                @if (item.IsNewImage)
                {
                    <img src="@Url.Content(item.Path + item.GetFullFilenameForTemporaryFile())" name="@item.Name" alt="@item.Name" class="img-thumbnail vertical-middle rounded">
                }
                else
                {
                    <img src="@Url.Content(item.Path + item.GetFullFilenameForStoredFile())" name="@item.Name" alt="@item.Name" class="img-thumbnail vertical-middle rounded">
                }
                <span class="img-span"></span>
                @if (item.IsNewImage)
                {
                    <a class="delete-img" onclick="deleteImage('@item.Name', true);">
                        <span class="oi oi-circle-x"></span>
                    </a>
                }
                else
                {
                    <a class="delete-img" onclick="deleteImage('@item.Name', false);">
                        <span class="oi oi-circle-x"></span>
                    </a>
                }

            </div>
            @if (item.MainImageFlag)
                {
                <div class="main-image">
                    <span class="oi oi-star"></span>
                </div>
            }
        </div>
    </div>
}
